@model PagedList.IPagedList<IdentityLibrary.DataModel.FWYComplaintOrsuggestion>
@using PagedList.Mvc;
@using BagGomla.LocalResource
@{ ViewBag.Title = "شكاوى او اقتراحات";
                Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
                var i = ((Model.PageNumber - 1) * 20) + 1; }
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<br />
<div class="input-group" style="width:80%;margin:auto">
    <span class="input-group-append">
        <button class="btn btn-outline-secondary border-left-0 border" type="button" id="btnSearch">
            <i class="fa fa-search"></i>
        </button>
        <button class="btn btn-outline-secondary border-left-0 border" type="button" id="btnRemoveSearch">
            <i class="fa fa-times"></i>
        </button>
    </span>
    <input id="Search" class="form-control py-2 border-right-0 border" placeholder="البحث" style="text-align:right!important;" value="@ViewBag.searchStr">
</div>
<br />
<div dir="rtl" style="text-align:center !important;">
    <br />
    <div class="card">
        <div class="card-body">
            <br /><br />
            <div class="table-responsive">
                <table id="InvoiceTabel" class="table m-0 table-colored-bordered table-bordered-info table-bordered table-hover">
                    <thead class="thead-default">
                        <tr>
                            <th>#</th>
                            <th data-breakpoints="xs">
                                من
                            </th>
                            <th data-breakpoints="xs">
                                شكوى او اقتراح
                            </th>
                            <th data-breakpoints="xs">التاريخ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
            <tr class="Search">
                <td>@i</td>
                <td>@item.EmailFrom</td>
                <td>@item.ComplaintOrsuggestion</td>
                <td>
                    @if(item.SentDateTime != null)
                    {
                        <span>
                            @(((DateTime)item.SentDateTime).ToString("dd/MM/yyyy"))
                        </span>
                    }
                </td>
            </tr>i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div style="text-align:center!important">
            <h5>
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            </h5>
            <p>
                @Html.PagedListPager(Model, page => Url.Action("Complaints",
                            new { page }))
            </p>
        </div>
    </div>
</div>


<script src="~/Content/vendor/jquery/jquery-3.2.1.min.js"></script>
<script>
     $(".pagination a").click(function () {
        var url = $(this).attr("href");
        $(this).attr("href", url + "&searchStr=@ViewBag.searchStr");
    });
</script>
