@using BagGomla.Models
@model ProductViewModel

@using BagGomla.LocalResource

@{ 
    var lang = System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.CultureName;
}

<link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Scripts/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Scripts/fonts/iconic/css/material-design-iconic-font.min.css" rel="stylesheet" />
<link href="~/Scripts/fonts/linearicons-v1.0.0/icon-font.min.css" rel="stylesheet" />
<link href="~/Content/vendor/animate/animate.css" rel="stylesheet" />
<link href="~/Content/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
<link href="~/Content/vendor/animsition/css/animsition.min.css" rel="stylesheet" />
<link href="~/Content/vendor/select2/select2.min.css" rel="stylesheet" />
<link href="~/Content/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" />
<link href="~/Content/vendor/slick/slick.css" rel="stylesheet" />
<link href="~/Content/vendor/MagnificPopup/magnific-popup.css" rel="stylesheet" />
<link href="~/Content/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" />
<link href="~/Content/css/util.css" rel="stylesheet" />
<link href="~/Content/css/main.css" rel="stylesheet" />
<link href="~/Content/css/ayman.css" rel="stylesheet" />
<link href="~/Content/css/ayman2.css" rel="stylesheet" />
<style>
    .slick3-dots li {
        width: 50px !important;
    }
</style>

<div class="row">
    <div class="col-md-6 col-lg-7 p-b-30">
        <div class="p-l-25 p-r-30 p-lr-0-lg">
            <div class="wrap-slick3 flex-sb flex-w">
                <div class="wrap-slick3-dots" onclick="slickDotsClk()"></div>

                @if (lang == "ar-EG")
                {
            <div class="wrap-slick3-arrows flex-sb-m flex-w" style="margin-right:100.7px!important;" onclick="slickDotsClk()"></div> @*<div class="wrap-slick3-arrows flex-sb-m flex-w" style="margin-right:55px!important;"></div>*@ }
        else
        {
            <div class="wrap-slick3-arrows flex-sb-m flex-w" onclick="slickDotsClk()"></div>
            }

                <div class="slick3 gallery-lb">
                    @foreach (var item in Model.Product.FWYProductImage)
                    {
            <div class="item-slick3" data-thumb="/Images/Products/@item.Image">
                <div class="wrap-pic-w pos-relative">
                    <img src="/Images/Products/@item.Image" alt="IMG-PRODUCT">
                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/Images/Products/@item.Image">
                        <i class="fa fa-expand"></i>
                    </a>
                </div>
            </div>}

                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-5 p-b-30">
        <div class="p-r-50 p-t-5 p-lr-0-lg">
            <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                @Model.Product.Name
            </h4>

            @if (Model.Product.FWYProductPriceRange.Count > 0)
            {
                var min = Model.Product.FWYProductPriceRange.Min(c => c.Price);
                var max = Model.Product.FWYProductPriceRange.Max(c => c.Price);
<span class="mtext-106 cl2">
    @Resource.Price: @Resource.From @min @Resource.To @max
</span> }
            else
            {
<span class="mtext-106 cl2">
    @Resource.Price: @Resource.From @Model.Product.FinalPrice @Resource.To @Model.Product.FinalPrice
</span>            }
            <br />
            @if (Model.Product.LessQuantityGomla != null)
            {
<span class="mtext-106 cl2">
    @Resource.LessQuanGomla: @Model.Product.LessQuantityGomla
</span>            }

            <p class="stext-102 cl3 p-t-23">
                @Model.Product.Description
            </p>

            <!--  -->
            <div class="p-t-33">
                @if (Model.ProductSizeList.Count > 0)
                {
    <div class="flex-w flex-r-m p-b-10">
        <div class="size-203 flex-c-m respon6">
            @Resource.Size
        </div>
        <div class="size-204 respon6-next">
            <div class="rs1-select2 bor8 bg0">
                <select class="js-select2" name="ProductSizeID" id="ProductSizeID" onchange="GetColors(this, @Model.Product.ID);">
                    <option value="0">@Resource.Select @Resource.Size</option>
                    @foreach (var item in Model.ProductSizeList)
                    {
    <option value="@item.ID">@item.Name - @item.Height x @item.Width (h x w)</option>}
                </select>
                <span class="dis-none field-validation-error text-danger" data-valmsg-for="ProductSizeID" data-valmsg-replace="true" id="msgProductSizeID">@Resource.Size @Resource.IsRequired</span>
                <div class="dropDownSelect2"></div>
            </div>
        </div>
    </div>}

                @if (Model.ProductColorList.Count > 0)
                {
    <div class="flex-w flex-r-m p-b-10">
        <div class="size-203 flex-c-m respon6">
            @Resource.Color
        </div>

        <div class="size-204 respon6-next">
            <div class="rs1-select2 bor8 bg0">
                <select class="js-select2" name="ProductColorID" id="ProductColorID" onchange="GetSizes(this, @Model.Product.ID);">
                    <option value="0">@Resource.Select @Resource.Color</option>
                    @foreach (var item in Model.ProductColorList)
                    {
    <option value="@item.ID">@item.Name</option>}
                </select>

                <div class="dropDownSelect2"></div>
            </div>
            <span class="dis-none field-validation-error text-danger" data-valmsg-for="ProductColorID" data-valmsg-replace="true" id="msgProductColorID">@Resource.Color @Resource.IsRequired</span>
        </div>
    </div> } @*@{
            var maxQuantity = Model.Product.TotalQuantity - Model.Product.SalesNum;
            foreach (var item in Model.Product.FWYInvoiceOrderProduct)
            {
                if(item.FWYInvoiceOrder.OrderTypeID == 2)
                {
                    maxQuantity -= item.Quantity;
                }
            }
        }*@

            </div>

            <!--  -->
        </div>
    </div>
</div>


<script src="~/Content/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="~/Content/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="~/Content/vendor/bootstrap/js/popper.js"></script>
<script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="~/Content/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="~/Content/vendor/daterangepicker/moment.min.js"></script>
<script src="~/Content/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="~/Content/vendor/slick/slick.min.js"></script>
<!--===============================================================================================-->
<script src="~/Content/vendor/parallax100/parallax100.js"></script>
<!--===============================================================================================-->
<script src="~/Content/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<!--===============================================================================================-->
<script src="~/Content/vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
<script src="~/Content/vendor/sweetalert/sweetalert.min.js"></script>
<!--===============================================================================================-->
<script src="~/Content/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<!--===============================================================================================-->
<script src="~/Scripts/js/main.js"></script>

<script>
    $(".js-select2").each(function () {
        $(this).select2({
            minimumResultsForSearch: 20,
            dropdownParent: $(this).next('.dropDownSelect2')
        });
    })
</script>

<script>
    $('.parallax100').parallax100();
</script>

<script>
    $('.gallery-lb').each(function () { // the containers for all your galleries
        $(this).magnificPopup({
            delegate: 'a', // the selector for gallery item
            type: 'image',
            gallery: {
                enabled: true
            },
            mainClass: 'mfp-fade'
        });
    });
</script>

<script>
    $('.js-pscroll').each(function () {
        $(this).css('position', 'relative');
        $(this).css('overflow', 'hidden');
        var ps = new PerfectScrollbar(this, {
            wheelSpeed: 1,
            scrollingThreshold: 1000,
            wheelPropagation: false,
        });

        $(window).on('resize', function () {
            ps.update();
        })
    });
</script>

<script src="~/Scripts/js/BindingList.js"></script>
<script>
    function GetColors(e, productID) {
        var sizeID = e.value;
        if ($("#ProductColorID").length) {
            $.ajax({
                url: '@Url.Action("GetSizeColorList", "Products")',
                type: 'GET',
                cache: false,
                data: { ProductID: productID, SizeID: sizeID },
                datatype: "json",
                contenttype: "application/json",
            }).done(function (result) {
                $("#ProductColorID").empty();
                BindCombo("ProductColorID", result, "Select Option", false);
                document.getElementById('ProductColorID').onchange = null;
            });
        }
    }

    function GetSizes(e, productID) {
        var colorID = e.value;
        if ($("#ProductSizeID").length) {
            $.ajax({
                url: '@Url.Action("GetColorSizeList", "Products")',
                type: 'GET',
                cache: false,
                data: { ProductID: productID, ColorID: colorID },
                datatype: "json",
                contenttype: "application/json",
            }).done(function (result) {
                $("#ProductSizeID").empty();
                BindCombo("ProductSizeID", result, "Select Option", false);
                document.getElementById('ProductSizeID').onchange = null;
            });
        }
    }

    function CheckQuantity(operation){
        var currentVal = document.getElementById("QV_Qty").value;
        var newVal = 0;
        //alert(newVal);
        if(operation == 'minus'){
            newVal = Number(currentVal) - 1;
        }
        else{
            newVal = Number(currentVal) + 1;
        }
        //alert(newVal);
        //&& newVal <= max
        if(newVal > 0){
            document.getElementById("QV_Qty").value = Number(newVal);
        }
    }


</script>

@if (lang.Contains("ar"))
{
    <script>

        function slickDotsClk() {

            var elements = document.getElementsByClassName("slick-active");
            var element = null;
            if (elements.length > 0) {
                element = elements[0];
            }
            for (var i = 0; i < elements.length; i++) {
                if (elements[i].className == "item-slick3 slick-slide slick-current slick-active") {
                    element = elements[i];
                }
            }
            var leftVal = getComputedStyle(element).getPropertyValue('left');
            element.style.setProperty('left', 'inherit !important');
            element.style.setProperty('right', leftVal);
        }
    </script>
}