@using BagGomla.Models
@using  PagedList.Mvc
@model ProductModel
@using BagGomla.LocalResource
@using Microsoft.AspNet.Identity;
@{
    var Counter = 0;
    var lang = System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.CultureName;
    var productCount = 0;
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css"/>

<div class="desk">
    <div class="row" id="block2Div">
        @if (Model.ProList.Count != 0)
        {
            foreach (var i in Model.Dis)
            {
                foreach (var item in Model.ProList)
                {
                    if (i.Key == item.Key)
                    {
                        productCount++;
                        var img = "";
                        var CompID = 0;
                        var SupName = "";
                        var Check = false;
                        if (item.Value.FWYProductImage.Where(c => c.IsMain == true).ToList().Count > 0)
                        {
                            img = item.Value.FWYProductImage.First().Image;
                            if (item.Value.FWYStoreProduct.Count != 0)
                            {
                                if (item.Value.FWYStoreProduct.First().FWYStore.AspNetUsers.FWYSupplierCooperation.Count != 0)
                                {
                                    SupName = item.Value.FWYStoreProduct.First().FWYStore.AspNetUsers.Name;
                                    CompID = item.Value.FWYStoreProduct.First().FWYStore.AspNetUsers.FWYSupplierCooperation.First().ID;
                                    Check = item.Value.FWYStoreProduct.First().FWYStore.AspNetUsers.FWYSupplierCooperation.First().IsVerified;
                                }
                            }
                        }

                        <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women Search">
                            <!-- Block2 -->
                            <div class="block2">
                                <div class="block2-pic hov-img0">
                                    <a href="/Products/Details/@item.Value.ID"><img src="/Images/Products/@img" alt="IMG-PRODUCT" height="250"></a>

                                    <a onclick="ViewProduct('@item.Value.ID');" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04" style="cursor:pointer;">
                                        @Resource.QuickView
                                    </a>
                                </div>

                                <div class="block2-txt flex-w flex-t p-t-14">
                                    <div class="block2-txt-child1 flex-col-l ">
                                        @if (lang == "ar-EG")
                                        {
                                            <a href="/Products/Details/@item.Value.ID" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6" style="font-weight:bold;color:blue;">
                                                @item.Value.ARName
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="/Products/Details/@item.Value.ID" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6" style="font-weight:bold;color:blue;">
                                                @item.Value.Name
                                            </a>
                                        }

                                        @if (item.Value.FWYProductPriceRange.Count > 0)
                                        {
                                            var min = item.Value.FWYProductPriceRange.Min(c => c.Price);
                                            var max = item.Value.FWYProductPriceRange.Max(c => c.Price);
                                            <span class="stext-105 cl3">
                                                @Resource.Price: @Resource.From @min @Resource.To @max
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="stext-105 cl3">
                                                @Resource.Price: @Resource.From @item.Value.FinalPrice @Resource.To @item.Value.FinalPrice
                                            </span>
                                        }

                                        @if (item.Value.LessQuantityGomla != null)
                                        {
                                            <span class="stext-105 cl3">
                                                @Resource.LessQuanGomla: @item.Value.LessQuantityGomla
                                            </span>
                                        }


                                        @if (Check == true)
                                        {
                                            <a href="/SupplierCorporation/CompanyProducts/@CompID" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                <p class="text-success font-weight-bold">
                                                    @SupName  <i class="fa fa-check-circle text-success" aria-hidden="true"> </i>
                                                </p>
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="/SupplierCorporation/CompanyProducts/@CompID" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                <p class="text-secondary font-weight-bold">
                                                    @SupName  <i class="fa fa-check-circle text-secondary" aria-hidden="true"> </i>
                                                </p>
                                            </a>
                                        }


                                    </div>
                                    <div class="block2-txt-child2 flex-r p-t-3">
                                        @if (BagGomla.Helper.TagHelper.IsProductInMyFav(item.Value.ID,User.Identity.GetUserId()) == true)
                                        {
                                            <a class="btn-addwish-b2 dis-block pos-relative js-addedwish-b2" onclick="RemoveFav(@item.Value.ID)">
                                                <img class="icon-heart2 dis-block trans-04 ab-t-l" src="~/Images/icons/icon-heart-02.png" alt="ICON">
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="btn-addwish-b2 dis-block pos-relative js-addwish-b2" onclick="AddFav(@item.Value.ID)">
                                                <img class="icon-heart1 dis-block trans-04" src="~/Images/icons/icon-heart-01.png" alt="ICON">
                                                <img class="icon-heart2 dis-block trans-04 ab-t-l" src="~/Images/icons/icon-heart-02.png" alt="ICON">
                                            </a>
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                }
            }
        }
        else
        {

            foreach (var item in Model.ProductList1)
            {
                productCount++;
                var img = "";
                var CompID = 0;
                var SupName = "";
                var Check = false;
                if (item.FWYProductImage.Where(c => c.IsMain == true).ToList().Count > 0)
                {
                    img = item.FWYProductImage.First().Image;
                    if (item.FWYStoreProduct.Count != 0)
                    {
                        if (item.FWYStoreProduct.First().FWYStore.AspNetUsers.FWYSupplierCooperation.Count != 0)
                        {
                            SupName = item.FWYStoreProduct.First().FWYStore.AspNetUsers.Name;

                            CompID = item.FWYStoreProduct.First().FWYStore.AspNetUsers.FWYSupplierCooperation.First().ID;
                            Check = item.FWYStoreProduct.First().FWYStore.AspNetUsers.FWYSupplierCooperation.First().IsVerified;
                        }
                    }
                }

                <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women Search">
                    <!-- Block2 -->
                    <div class="block2">
                        <div class="block2-pic hov-img0">
                            <a href="/Products/Details/@item.ID"><img src="/Images/Products/@img" alt="IMG-PRODUCT" height="250"></a>

                            <a onclick="ViewProduct('@item.ID');" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04" style="cursor:pointer;">
                                @Resource.QuickView
                            </a>
                        </div>

                        <div class="block2-txt flex-w flex-t p-t-14">
                            <div class="block2-txt-child1 flex-col-l ">
                                @if (lang == "ar-EG")
                                {
                                    <a href="/Products/Details/@item.ID" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6" style="font-weight:bold;color:blue;">
                                        @item.ARName
                                    </a>
                                }
                                else
                                {
                                    <a href="/Products/Details/@item.ID" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6" style="font-weight:bold;color:blue;">
                                        @item.Name
                                    </a>
                                }

                                @if (item.FWYProductPriceRange.Count > 0)
                                {
                                    var min = item.FWYProductPriceRange.Min(c => c.Price);
                                    var max = item.FWYProductPriceRange.Max(c => c.Price);
                                    <span class="stext-105 cl3">
                                        @Resource.Price: @Resource.From @min @Resource.To @max
                                    </span>
                                }
                                else
                                {
                                    <span class="stext-105 cl3">
                                        @Resource.Price: @Resource.From @item.FinalPrice @Resource.To @item.FinalPrice
                                    </span>
                                }

                                @if (item.LessQuantityGomla != null)
                                {
                                    <span class="stext-105 cl3">
                                        @Resource.LessQuanGomla: @item.LessQuantityGomla
                                    </span>
                                }


                                @if (Check == true)
                                {
                                    <a href="/SupplierCorporation/CompanyProducts/@CompID" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                        <p class="text-success font-weight-bold">
                                            @SupName  <i class="fa fa-check-circle text-success" aria-hidden="true"> </i>
                                        </p>
                                    </a>
                                }
                                else
                                {
                                    <a href="/SupplierCorporation/CompanyProducts/@CompID" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                        <p class="text-secondary font-weight-bold">
                                            @SupName  <i class="fa fa-check-circle text-secondary" aria-hidden="true"> </i>
                                        </p>
                                    </a>
                                }


                            </div>
                            <div class="block2-txt-child2 flex-r p-t-3">
                                @if (BagGomla.Helper.TagHelper.IsProductInMyFav(item.ID, User.Identity.GetUserId()) == true)
                                {
                                    <a class="btn-addwish-b2 dis-block pos-relative js-addedwish-b2" onclick="RemoveFav(@item.ID)">
                                        <img class="icon-heart2 dis-block trans-04 ab-t-l" src="~/Images/icons/icon-heart-02.png" alt="ICON">
                                    </a>
                                }
                                else
                                {
                                    <a class="btn-addwish-b2 dis-block pos-relative js-addwish-b2" onclick="AddFav(@item.ID)">
                                        <img class="icon-heart1 dis-block trans-04" src="~/Images/icons/icon-heart-01.png" alt="ICON">
                                        <img class="icon-heart2 dis-block trans-04 ab-t-l" src="~/Images/icons/icon-heart-02.png" alt="ICON">
                                    </a>
                                }
                            </div>

                        </div>
                    </div>
                </div>
            }

        }
        <div style="text-align:center!important">
            <h5>
                صفحة رقم @(Model.PageCount < Model.PageNumber ? 1 : Model.PageNumber) من @Model.PageCount
            </h5>
            <p>
                @Html.PagedListPager(Model.ProductList1, page => Url.Action("Index",
                       new
                       {
                           ProductName = Model.ProductName,
                           CategoryID = Model.CategoryID,
                           TypeID = Model.TypeId,
                           longitude = Model.longitude,
                           latitude = Model.latitude,
                           location = Model.location,
                           SortBy = ViewBag.SortBy,
                           Price = ViewBag.Price,
                           SupplierID = ViewBag.SupplierID,
                           pageNumber = page,

                       }))
            </p>
        </div>
    </div>
    
</div>

<div class="div-only-mobile">
    @if (Model.ProList.Count != 0)
    {
        <section class="sec-product bg0 p-t-0 p-b-50">
            <div class="container">
                <div class="row">
                    @{ Counter = 0;}
                    @foreach (var i in Model.Dis)
                    {
                        foreach (var item in Model.ProList)
                        {
                            if (i.Key == item.Key)
                            {
                                var img = "";
                                var CompID = 0;
                                var SupName = "";
                                var Check = false;
                                if (item.Value.FWYProductImage.Where(c => c.IsMain == true).ToList().Count > 0)
                                {
                                    img = item.Value.FWYProductImage.First().Image;
                                    if (item.Value.FWYStoreProduct.Count != 0)
                                    {
                                        if (item.Value.FWYStoreProduct.First().FWYStore.AspNetUsers.FWYSupplierCooperation.Count != 0)
                                        {
                                            SupName = item.Value.FWYStoreProduct.First().FWYStore.AspNetUsers.Name;

                                            CompID = item.Value.FWYStoreProduct.First().FWYStore.AspNetUsers.FWYSupplierCooperation.First().ID;
                                            Check = item.Value.FWYStoreProduct.First().FWYStore.AspNetUsers.FWYSupplierCooperation.First().IsVerified;
                                        }
                                    }
                                }
                                <div class="col" style="border:1px solid lightgray;padding-left:0px;padding-right:0px;">
                                    <div class="img-wrap" style="width:100%;">
                                        <a href="/Products/Details/@item.Value.ID"><img src="/Images/Products/@item.Value.FWYProductImage.First().Image" style="width:100%;height:100%;"></a>

                                    </div>
                                    <div class="info-wrap" style="padding:8px!important;">
                                        @if (lang == "ar-EG")
                                        {
                                            <h6 class="title text-dots"><a class="js-name-b2" href="/Products/Details/@item.Value.ID" style="color:blue !important">@item.Value.ARName</a></h6>
                                        }
                                        else
                                        {
                                            <h6 class="title text-dots"><a class="js-name-b2" href="/Products/Details/@item.Value.ID" style="color:blue !important">@item.Value.Name</a></h6>
                                        }

                                        <div class="action-wrap">
                                            <div class="price-wrap h6">
                                                @if (item.Value.FWYProductPriceRange.Count > 0)
                                                {
                                                    var min = item.Value.FWYProductPriceRange.Min(c => c.Price);
                                                    var max = item.Value.FWYProductPriceRange.Max(c => c.Price);
                                                    <span class="stext-105 cl3">
                                                        @Resource.Price: @Resource.From @min @Resource.To @max
                                                    </span><br />
                                                }
                                                else
                                                {
                                                    <span class="stext-105 cl3">
                                                        @Resource.Price: @Resource.From @item.Value.FinalPrice @Resource.To @item.Value.FinalPrice
                                                    </span><br />
                                                }

                                                @if (item.Value.LessQuantityGomla != null)
                                                {
                                                    <span class="stext-105 cl3">
                                                        @Resource.LessQuanGomla: @item.Value.LessQuantityGomla
                                                    </span><br />
                                                }
                                            </div> <!-- price-wrap.// -->
                                        </div> <!-- action-wrap -->

                                        @if (Check == true)
                                        {
                                            <a href="/SupplierCorporation/CompanyProducts/@CompID" class="cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                <p style="color:green;font-size:12.5px;">
                                                    @SupName<i class="fa fa-check-circle text-success" aria-hidden="true"> </i>
                                                </p>
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="/SupplierCorporation/CompanyProducts/@CompID" class="cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                <p style="color:dimgray;font-size:12.5px;">
                                                    @SupName<i class="fa fa-check-circle text-secondary" aria-hidden="true"> </i>
                                                </p>
                                            </a>
                                        }
                                        @if (BagGomla.Helper.TagHelper.IsProductInMyFav(item.Value.ID, User.Identity.GetUserId()) == true)
                                        {
                                            <a href="javascript:void(0)" class="btn-addwish-b2 dis-block pos-relative js-addedwish-b2" onclick="RemoveFav(@item.Value.ID)" style="margin-top:27px!important;">
                                                <img class="icon-heart2 dis-block trans-04 ab-t-l" style="position:inherit!important" src="~/Images/icons/icon-heart-02.png" alt="ICON">
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="javascript:void(0)" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2" onclick="AddFav(@item.Value.ID)" style="margin-top:27px!important;">
                                                <img class="icon-heart1 dis-block trans-04" src="~/Images/icons/icon-heart-01.png" alt="ICON">
                                                <img class="icon-heart2 dis-block trans-04 ab-t-l" style="position:inherit!important" src="~/Images/icons/icon-heart-02.png" alt="ICON">
                                            </a>
                                        }
                                    </div>
                                </div>
                                Counter++;
                                if (Counter % 2 == 0 && Counter != 0)
                                {
                                    <div class="w-100"></div>
                                }
                            }
                        }
                    }
                </div>
            </div>
        </section>
    }

    else
    {
        <section class="sec-product bg0 p-t-0 p-b-50">
            <div class="container">
                <div class="row">
                    @{ Counter = 0;}
                    @foreach (var item in Model.ProductList1)
                    {
                        var img = "";
                        var CompID = 0;
                        var SupName = "";
                        var Check = false;
                        if (item.FWYProductImage.Where(c => c.IsMain == true).ToList().Count > 0)
                        {
                            img = item.FWYProductImage.First().Image;
                            if (item.FWYStoreProduct.Count != 0)
                            {
                                if (item.FWYStoreProduct.First().FWYStore.AspNetUsers.FWYSupplierCooperation.Count != 0)
                                {
                                    SupName = item.FWYStoreProduct.First().FWYStore.AspNetUsers.Name;

                                    CompID = item.FWYStoreProduct.First().FWYStore.AspNetUsers.FWYSupplierCooperation.First().ID;
                                    Check = item.FWYStoreProduct.First().FWYStore.AspNetUsers.FWYSupplierCooperation.First().IsVerified;
                                }
                            }
                        }

                        <div class="col" style="border:1px solid lightgray;padding-left:0px;padding-right:0px;">
                            <div class="img-wrap" style="width:100%;">
                                <a href="/Products/Details/@item.ID"><img src="/Images/Products/@item.FWYProductImage.First().Image" style="width:100%;height:100%;"></a>

                            </div>
                            <div class="info-wrap" style="padding:8px!important;">
                                @if (lang == "ar-EG")
                                {
                                    <h6 class="title text-dots"><a class="js-name-b2" href="/Products/Details/@item.ID" style="color:blue !important">@item.ARName</a></h6>
                                }
                                else
                                {
                                    <h6 class="title text-dots"><a class="js-name-b2" href="/Products/Details/@item.ID" style="color:blue !important">@item.Name</a></h6>
                                }

                                <div class="action-wrap">
                                    <div class="price-wrap h6">
                                        @if (item.FWYProductPriceRange.Count > 0)
                                        {
                                            var min = item.FWYProductPriceRange.Min(c => c.Price);
                                            var max = item.FWYProductPriceRange.Max(c => c.Price);
                                            <span class="stext-105 cl3">
                                                @Resource.Price: @Resource.From @min @Resource.To @max
                                            </span><br />
                                        }
                                        else
                                        {
                                            <span class="stext-105 cl3">
                                                @Resource.Price: @Resource.From @item.FinalPrice @Resource.To @item.FinalPrice
                                            </span><br />
                                        }

                                        @if (item.LessQuantityGomla != null)
                                        {
                                            <span class="stext-105 cl3">
                                                @Resource.LessQuanGomla: @item.LessQuantityGomla
                                            </span><br />
                                        }
                                    </div> <!-- price-wrap.// -->
                                </div> <!-- action-wrap -->

                                @if (Check == true)
                                {
                                    <a href="/SupplierCorporation/CompanyProducts/@CompID" class="cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                        <p style="color:green;font-size:12.5px;">
                                            @SupName<i class="fa fa-check-circle text-success" aria-hidden="true"> </i>
                                        </p>
                                    </a>
                                }
                                else
                                {
                                    <a href="/SupplierCorporation/CompanyProducts/@CompID" class="cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                        <p style="color:dimgray;font-size:12.5px;">
                                            @SupName<i class="fa fa-check-circle text-secondary" aria-hidden="true"> </i>
                                        </p>
                                    </a>
                                }
                                @if (BagGomla.Helper.TagHelper.IsProductInMyFav(item.ID, User.Identity.GetUserId()) == true)
                                {
                                    <a href="javascript:void(0)" class="btn-addwish-b2 dis-block pos-relative js-addedwish-b2" onclick="RemoveFav(@item.ID)" style="margin-top:27px!important;">
                                        <img class="icon-heart2 dis-block trans-04 ab-t-l" style="position:inherit!important" src="~/Images/icons/icon-heart-02.png" alt="ICON">
                                    </a>
                                }
                                else
                                {
                                    <a href="javascript:void(0)" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2" onclick="AddFav(@item.ID)" style="margin-top:27px!important;">
                                        <img class="icon-heart1 dis-block trans-04" src="~/Images/icons/icon-heart-01.png" alt="ICON">
                                        <img class="icon-heart2 dis-block trans-04 ab-t-l" style="position:inherit!important" src="~/Images/icons/icon-heart-02.png" alt="ICON">
                                    </a>
                                }
                            </div>
                        </div>
                        Counter++;
                        if (Counter % 2 == 0 && Counter != 0)
                        {
                            <div class="w-100"></div>
                        }
                    }
                </div>
            </div>
        </section>
        <div style="text-align:center!important">
            <h5>
                صفحة رقم @(Model.PageNumber) من @Model.PageCount
            </h5>
            <p>
                @Html.PagedListPager(Model.ProductList1, page => Url.Action("Index",
                       new {
                           ProductName = Model.ProductName,
                           CategoryID = Model.CategoryID,
                           TypeID = Model.TypeId,
                           longitude = Model.longitude,
                           latitude = Model.latitude,
                           location = Model.location,
                           SortBy = ViewBag.SortBy,
                           Price = ViewBag.Price,
                           SupplierID = ViewBag.SupplierID,
                           pageNumber = page
                       }))
            </p>
        </div>
    }

</div>

<script>
    function LoadMoreProducts(productCount, divID) {
        $("#dvLoading").show();
        debugger;
        $.ajax({
            url: '@Url.Action("LoadMoreProducts", "Products")',
            type: 'GET',
            cache: false,
            data: {NumOfDisplayedProducts: productCount}
        }).done(function (result) {
            document.getElementById(divID).append("<div>"+result+"</div>");
            $("#dvLoading").hide();
        });
    }
</script>