@model IdentityLibrary.DataModel.FWYProduct

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FWYProduct</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FWYBrand.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FWYBrand.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FWYCategory.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FWYCategory.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FWYUnit.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FWYUnit.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ARName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ARName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ARDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ARDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FavouritesNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FavouritesNum)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
