@model IdentityLibrary.DataModel.FWYNotification
@using BagGomla.LocalResource
@{
    ViewBag.Title = "اضافة اعلان";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<br /><br />
<div class="row" dir="rtl">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">اضافه اعلان</h3>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Create", "Notification", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group row">
                        <label for="Title" class="control-label col-md-3"> العنوان بالانجليزى</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                            <span class="field-validation-error text-danger float-right" style="display:none;" data-valmsg-for="Title" data-valmsg-replace="true" id="msgTitle"></span>
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>

                    </div>

                    <div class="form-group row">
                        <label for="ArTitle" class="control-label col-md-3">العنوان بالعربى</label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.ArTitle, new { htmlAttributes = new { @class = "form-control" } })
                            <span class="field-validation-error text-danger float-right" style="display:none;" data-valmsg-for="ArTitle" data-valmsg-replace="true" id="msgArTitle"></span>
                            @Html.ValidationMessageFor(model => model.ArTitle, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="Details" class="control-label col-md-3">تفاصيل بالانجليزى  </label>
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.Details, new { @class = "form-control", rows = "5" })
                            @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="ArDetails" class="control-label col-md-3"> تفاصيل بالعربى</label>
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.ArDetails, new { @class = "form-control", rows = "5" })
                            @Html.ValidationMessageFor(model => model.ArDetails, "", new { @class = "text-Details" })
                        </div>
                    </div>

                        <div class="form-group  row">
                            <div class="col-md-2"></div>
                            <div class="col-md-10">
                                <div class="form-group form-check">
                                    @Html.CheckBoxFor(m => m.IsRead, new { @class = "form-check-input ml-0", id = "exampleCheck1" })
                                    <label class="form-check-label" for="exampleCheck1">تفعيل الاعلان</label>
                                    <small id="fileHelpId" class="form-text  invalid-feedback px-3 float-right">يجب ملئ هذا الحقل</small>
                                </div>
                            </div>
                        </div>

                        <div class="form-group  row">
                            <label for="Image" class="control-label col-md-2">الصورة</label>
                            <div class="col-md-10">
                                <input type="file" class="form-control-file" name="Image" id="Image" accept="image/*"/>
                                <span class="field-validation-error text-danger float-right" style="display:none;" data-valmsg-for="Image" data-valmsg-replace="true" id="msgImage"></span>
                                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group  row">
                            <div class="col-md-offset-2 col-md-2 mx-auto">
                                <input type="button" id="btnSubmit" value="حفظ" class="btn btn-success" />
                            </div>
                        </div>
                }

                <div>
                    <a href="/Notification/Index"><i class="fa fa-arrow-circle-left"></i> العودة للقائمه السابقه</a>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/js/jquery-1-11-0-min.js"></script>
<script>
    $("#btnSubmit").click(function () {
        var Title = $("#Title").val();
        var ArTitle = $("#ArTitle").val();
        var Image = $("#Image").val();
        var ValidImage = ValidateImage(Image);
        //alert(Title);
        if (Title != "" && Title != null && ArTitle != "" && ArTitle != null && ValidImage == true) {
            document.getElementById("btnSubmit").setAttribute("type", "submit");
        }
        else {
            if (Title == "" || Title == null) {
                $("#msgTitle").html("العنوان بالانجليزية مطلوب ادخاله");
                $("#msgTitle").show();
            }
            else {
                $("#msgTitle").hide();
            }
            //
            if (ArTitle == "" || ArTitle == null) {
                $("#msgArTitle").html("@Resource.ArTitle @Resource.IsRequired");
                $("#msgArTitle").show();
            }
            else {
                $("#msgArTitle").hide();
            }
            //
            if (ValidImage == false) {
                $("#msgImage").html("@Resource.Image @Resource.IsNotValid");
                $("#msgImage").show();
            }
            else {
                $("#msgImage").hide();
            }
            //alert("error");
        }
    });


    function ValidateImage() {
        var file = document.getElementById("Image").value;
        //alert(Image);
        if (file == null || file == "") {
            return true;
        }
        var FileArr = file.split(".");
        var extension = FileArr[FileArr.length - 1];
        //alert(extension);
        if (extension == "jpg" || extension == "png" || extension == "jpeg" || extension == "gif") {
            return true;
        }
        else {
            return false;
        }
    }
</script>