@model BagGomla.Models.ResetPasswordViewModel
@using BagGomla.LocalResource
@{
    ViewBag.Title = Resource.Reset + " " + Resource.Password;
    if (User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_DefualtLayout.cshtml";

    }
}
<section class="p-t-75 p-b-75">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto ">
                <div class="">
                    @using (Html.BeginForm("ResetPasswordUser", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", id= "ResetForm" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Code)

                        <h3 class="mb-5 form-title pl-3 font-weight-bold"><i class="fa fa-cog" aria-hidden="true"></i> @Resource.Forgot @Resource.Password ?</h3>
                        <div class="form-group">
                            <label class="font-weight-bold text-capitalize"><i class="fa fa-envelope" aria-hidden="true"></i> @Resource.Email:</label>
                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Password" class="col-md-2 control-label">@Resource.Password</label>
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", type = "password" })
                                    <span class="dis-none field-validation-error text-danger" data-valmsg-for="Password" data-valmsg-replace="true" id="msgPassword"></span>
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ConfirmPassword" class="col-md-2 control-label">@Resource.Confirm @Resource.Password</label>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", type = "password" })
                                    <span class="dis-none field-validation-error text-danger" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true" id="msgConfirmPassword"></span>
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <input id="btnSubmit" type="button" class="btn btn-warning font-weight-bold px-4 d-block mb-3" value="@Resource.Reset" />
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/Scripts/js/jquery-1-11-0-min.js"></script>
<script>
    $("#btnSubmit").click(function () {
        Password = $("#Password").val(),
        ConfirmPassword = $("#ConfirmPassword").val(),
        ValidPass = ValidatePassword(Password, ConfirmPassword);
        alert(ValidPass);
        if (ValidPass == 2) {
            document.getElementById("ResetForm").submit();
        }
        if (ValidPass == -1) {
            $("#msgPassword").removeClass("dis-none");
            $("#msgPassword").html("@Resource.Password @Resource.IsRequired");
        }
        else if (ValidPass == 0) {
            $("#msgPassword").removeClass("dis-none");
            $("#msgPassword").html("@Resource.PassIsNotValid");
        }
        else if (ValidPass == 1) {
            $("#msgConfirmPassword").removeClass("dis-none");
            $("#msgConfirmPassword").html("@Resource.PassNotMatching");
            $("#msgPassword").html("");
        }
        else {
            $("#msgPassword").html("");
            $("#msgConfirmPassword").html("");
        }
    });

    function ValidatePassword(password, confirmPassword) {
        var validpass = false;
        // Validate length
        if (password.length >= 8) {
            validpass = true;
        }
        if (password == null || password == "") {
            //pass required
            return -1;
        }
        else {
            if (validpass == false) {
                //not valid
                return 0;
            }
            else {
                if (password != confirmPassword) {
                    //not match
                    return 1;
                }
                else {
                    //done
                    return 2;
                }
            }
        }
    }

</script>